.stores {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.store {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  border-radius: 100px;
  width: 75%;
  margin: 0.5rem 0;
  animation: slide 0.5s ease-in;
  background-image:  linear-gradient(rgba(0, 0, 0, 0), rgba(114, 88, 76, 0.3));
}

.store:hover {
  background-color: #e7e7e7;
  cursor: pointer;
}

.store * {
  margin: 0.5rem 0;
}

.store h1 {
  width: 95%;
  font-size: xx-large;
  background-color: #000000;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.store h3 {
  font-size: medium;
}

.store span {
  font-size: small;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes slide {
  from {transform: translateX(-120%);}
  to {transform: translateX(0);}
}