.search-form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input {
  background: white;
  padding: 0.5rem;
  width: 100%;
  font-weight: 600;
  /* border: 1rem solid; */
  /* border-radius: 10px; */
}

.search-button {
  padding: 2vh;
  margin: 0.5rem;
  width: 45vw;
  /* font-size: 1.4rem; */
  font-size: 4vw;
  font-weight: 400;
  border-width: 0;
  border-radius: 0.25rem;
  background: #c7ac97;
  color: black;
  text-transform: uppercase;
  transition: all 0.2s;
}

.search-button:hover {
  background: #a78c77;
}